@property --color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #3399ff;
}

@property --color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #f4e54d;
}

@property --color-3 {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffaa33;
}

@keyframes bgAnimation {
    0% {
        left: -10%;
        top: -10%;
        rotate: -50deg;
        transform: scale(1, 1);
        width: 50%;
    }
    50% {
        left: 80%;
        rotate: 20deg;
        top: 100%;
        transform: scale(1.2, 1.5);
        width: 100%;
    }
    100% {
        left: -10%;
        top: -10%;
        rotate: -50deg;
        transform: scale(1, 1);
        width: 50%;
    }
}

.gradient-bg {
    mix-blend-mode: difference;
    position: fixed;
    width: 100vw;
    background-color: #1a1218;
    // background créé sur https://csshero.org/mesher/
    background-image: radial-gradient(at 23% 100%, #0f0f0f, transparent 50%),
        radial-gradient(at 1% 1%, #271824, 0px, transparent 50%),
        radial-gradient(at 49% 98%, #462b40 0px, transparent 50%),
        radial-gradient(at 98% 22%, #0f0a0d 0px, transparent 50%),
        radial-gradient(at 96% 95%, #331f2f 0px, transparent 50%),
        radial-gradient(at 94% 57%, #462b40 0px, transparent 50%);
    height: 100vh;
    &::before {
        animation: bgAnimation 20s linear infinite;
        position: absolute;
        content: "";
        right: 10%;
        height: 50%;
        width: 70%;
        min-width: 300px;
        min-height: 300px;
        transform-origin: 60%;
        background-color: #462b40;
        border-radius: 50%;
        filter: blur(70px) brightness(120%) opacity(0.3);
    }
    &::after {
        animation: bgAnimation 20s infinite reverse;
        position: absolute;
        content: "";
        right: 10%;
        height: 70%;
        width: 50%;
        min-width: 300px;
        min-height: 300px;
        transform-origin: 60%;
        background-color: #462b40;
        border-radius: 50%;
        filter: blur(70px) brightness(120%) opacity(0.3);
    }
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.starburst,
.shadow-starburst {
    animation: turn 130s linear infinite;
    position: absolute;
    left: calc(50% - 250px);
}
.grainyBg2 {
    background: url("../images/bg-grainy-dark-purple.jpeg");
    margin: 0;
    padding: 0;
    background-size: cover; /* L’image couvre toujours tout l’écran */
    background-position: center; /* Centrée même si elle se recadre */
    background-attachment: fixed;
    height: 100vh;
}
.bg-test {
    background-color: #0f0f0f;
    width: 100%;
    height: 100%;
}
