@property --color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #3399ff;
}

@property --color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #f4e54d;
}

@property --color-3 {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffaa33;
}

@keyframes bgAnimation {
    0% {
        left: -10%;
        top: -10%;
        rotate: -50deg;
        transform: scale(1, 1);
    }
    50% {
        left: 80%;
        rotate: 20deg;
        top: 100%;
        transform: scale(1.2, 1.5);
    }
    100% {
        left: -10%;
        top: -10%;
        rotate: -50deg;
        transform: scale(1, 1);
    }
}

.gradient-bg {
    background-color: hsla(210, 100%, 60%, 1);
    // background créé sur https://csshero.org/mesher/
    background-image: radial-gradient(
            at 23% 100%,
            hsla(51, 64%, 73%, 1) 0px,
            transparent 50%
        ),
        radial-gradient(at 1% 1%, hsla(210, 100%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 49% 98%, hsla(54, 88%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 98% 22%, hsla(54, 88%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 96% 95%, hsla(33, 100%, 59%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 57%, hsla(33, 100%, 59%, 1) 0px, transparent 50%);
    height: 100vh;
    &::before {
        animation: bgAnimation 15s infinite;
        position: absolute;
        content: "";
        right: 10%;
        height: 50%;
        width: 70%;
        min-width: 300px;
        min-height: 300px;
        transform-origin: 60%;
        background-color: #39f;
        border-radius: 50%;
        filter: blur(70px) brightness(120%) opacity(0.7);
    }
    &::after {
        animation: bgAnimation 15s infinite reverse;
        position: absolute;
        content: "";
        right: 10%;
        height: 70%;
        width: 50%;
        min-width: 300px;
        min-height: 300px;
        transform-origin: 60%;
        background-color: #39f;
        border-radius: 50%;
        filter: blur(70px) brightness(120%) opacity(0.7);
    }
}
