$hoverColor: #ff58a1;
button {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: transparent;
    border-radius: 4px;
    transition: 0.1s ease-out;
    height: 43px;
    width: 60px;
    font-size: 30px;
    border: none;
    box-shadow: 6px 6px 0 #ce3c7c;

    cursor: pointer;
    &:hover {
        background-color: $hoverColor;
    }
    &:active {
        box-shadow: 4px 4px 0 black;
        transform: translate(2px, 2px);
        background-color: yellow;
    }
    &.keydown-active {
        box-shadow: 4px 4px 0 black;
        transform: translate(2px, 2px);
        background-color: yellow;
    }
}
