$hoverColor: rgb(255, 85, 0);
$activeColor: yellow;

button {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #e91e63;
    padding: 10px;
    border-radius: 4px;
    transition: 0.1s ease-out;
    height: 60px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 6px 6px 0 black;
    cursor: pointer;
    &:hover {
        background-color: $hoverColor;
    }
    &:active {
        box-shadow: 4px 4px 0 black;
        transform: translate(2px, 2px);
        background-color: yellow;
    }
}
#calculator-screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    border-radius: 4px;
    font-size: 40px;
    height: 60px;
    padding-bottom: 5px;
    overflow: auto;
    //border: 2px solid;
    //background-color: #fcfff7;
}
#calculator {
    .calculator-keyboard {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 30px;
        button {
            width: 60px;
        }
        .operators {
            display: flex;
            flex-direction: column;
            button {
                background-color: #e6ffc2;
                margin-bottom: 13px;
                transition: 0.1s ease-out;
                &:hover {
                    background-color: $hoverColor;
                }
                &:active {
                    box-shadow: 4px 4px 0 black;
                    transform: translate(2px, 2px);
                    background-color: $activeColor;
                }
            }
        }
        .effacer {
            width: auto;
        }
    }
}

.multiplier {
    padding-top: 17px;
}

#add {
    padding-bottom: 3px;
}
.equal {
    background-color: #e6ffc2;
}
.expression {
    text-align: right;
    font-size: 18px;
    width: 100%;
    height: 20px;
}
.BS {
    img {
        width: 35px;
    }
}
.row {
    margin-bottom: 13px;
    button {
        margin-right: 5px;
    }
}
