$hoverColor: rgb(255, 85, 0);
button {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #e91e63;
    padding: 10px;
    border-radius: 4px;
    transition: 0.1s ease-out;
    height: 60px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 6px 6px 0 black;
    cursor: pointer;
    &:hover {
        background-color: $hoverColor;
    }
    &:active {
        box-shadow: 4px 4px 0 black;
        transform: translate(2px, 2px);
        background-color: yellow;
    }
    &.keydown-active {
        box-shadow: 4px 4px 0 black;
        transform: translate(2px, 2px);
        background-color: yellow;
    }
}
