body {
    margin: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    justify-content: center; /* Centrage horizontal */
    align-items: center;
    background-color: #e6ffc2;
}
section {
    background-color: rgb(230, 255, 194);
    padding: 30px;
    margin: auto;
    text-align: center;
}
.originalBox {
    width: 270px;
    border: 2px solid black;
    border-radius: 4px;
}

#title {
    font-size: 50px;
    font-weight: 400;
    margin-top: 0px;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
