@import "variables";

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: "Bricolage Grotesque", sans-serif;
}

.poster {
    padding: 50px;
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}
.originalBox {
    width: 270px;
    position: relative;
    margin: auto;
}

.title {
    font-size: 160px;
    line-height: 140px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    overflow-wrap: break-word;
    padding: 20px;
    color: $primaryColor;

    @media (max-width: 500px) {
        font-size: 100px;
        line-height: 90px;
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.screen-container {
    display: flex;
    justify-content: flex-end;
}
#screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    border-radius: 4px;
    font-size: 40px;
    height: 60px;
    padding-bottom: 5px;
    overflow: auto;
}
#calculator {
    position: relative;
    top: 60px;
    .calculator-keyboard {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

        .operators {
            display: flex;
            flex-direction: column;
            button {
                margin-bottom: 10px;
                transition: 0.1s ease-out;

                &:hover {
                    background-color: $hoverColor;
                }
                &:active {
                    box-shadow: 4px 4px 0 black;
                    transform: translate(2px, 2px);
                    background-color: $activeColor;
                }
                &.keydown-active {
                    box-shadow: 4px 4px 0 black;
                    transform: translate(2px, 2px);
                    background-color: yellow;
                }
            }
        }
        .effacer {
            width: auto;
        }
    }
}

.multiplier {
    padding-top: 17px;
}

#add {
    padding-bottom: 3px;
}
#little-screen {
    text-align: right;
    font-size: 18px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.BS {
    img {
        width: 35px;
    }
}
.row {
    margin-bottom: 10px;
    button {
        margin-right: 5px;
    }
}
.starburst {
    height: auto;
    width: 500px;
    background-color: $primaryColor;
    aspect-ratio: 1;
    clip-path: polygon(
        100% 50%,
        83.68% 54.63%,
        98.15% 63.49%,
        81.19% 63.55%,
        92.72% 75.98%,
        76.37% 71.46%,
        84.13% 86.54%,
        69.61% 77.78%,
        73% 94.39%,
        61.39% 82.04%,
        60.17% 98.95%,
        52.32% 83.92%,
        46.59% 99.88%,
        43.08% 83.29%,
        33.26% 97.11%,
        34.36% 80.19%,
        21.17% 90.85%,
        26.79% 74.85%,
        11.21% 81.55%,
        20.95% 67.67%,
        4.14% 69.92%,
        17.26% 59.17%,
        0.47% 56.81%,
        16% 50%,
        0.47% 43.19%,
        17.26% 40.83%,
        4.14% 30.08%,
        20.95% 32.33%,
        11.21% 18.45%,
        26.79% 25.15%,
        21.17% 9.15%,
        34.36% 19.81%,
        33.26% 2.89%,
        43.08% 16.71%,
        46.59% 0.12%,
        52.32% 16.08%,
        60.17% 1.05%,
        61.39% 17.96%,
        73% 5.61%,
        69.61% 22.22%,
        84.13% 13.46%,
        76.37% 28.54%,
        92.72% 24.02%,
        81.19% 36.45%,
        98.15% 36.51%,
        83.68% 45.37%
    );
}
