body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Bricolage Grotesque", sans-serif;
    justify-content: center; /* Centrage horizontal */
    align-items: center;
    background-color: #e6ffc2;
}
.grainyBg {
    /* resulting css */
    width: 250px;
    height: 250px;
    filter: contrast(170%) brightness(1000%);
    background: linear-gradient(
            21deg,
            rgba(0, 0, 0, 0.59),
            rgba(1, 59, 247, 0.12)
        ),
        linear-gradient(190deg, rgba(86, 11, 12, 0.5), rgba(0, 0, 255, 0)),
        radial-gradient(
            circle at 67% 24%,
            rgba(255, 105, 0, 0.54),
            rgba(255, 0, 0, 0)
        ),
        radial-gradient(
            circle at 50% 50%,
            rgba(31, 44, 44, 0.31),
            rgba(0, 0, 255, 0)
        ),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 239 239' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='7.18' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

section {
    padding: 30px;
    margin: auto;
    text-align: center;
}

.poster {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* EFFET GRAIN / RUMEUR */
.poster::before {
    content: "";
    position: absolute;
}
.originalBox {
    width: 270px;
    border: 2px solid black;
    border-radius: 4px;
}

#title {
    font-size: 50px;
    font-weight: 400;
    margin-top: 0px;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
