$hoverColor: rgb(255, 85, 0);
$activeColor: yellow;
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Bricolage Grotesque", sans-serif;
    justify-content: center; /* Centrage horizontal */
    align-items: center;
}

.poster {
    padding: 50px;
    position: relative;
    z-index: 1;
}
section {
    padding: 30px;
    margin: auto;
    text-align: center;
}
.originalBox {
    width: 270px;
    border: 2px solid black;
    border-radius: 4px;
}

#title {
    font-size: 50px;
    font-weight: 400;
    margin-top: 0px;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.screen-container {
    display: flex;
    justify-content: flex-end;
}
#screen {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    border-radius: 4px;
    font-size: 40px;
    height: 60px;
    padding-bottom: 5px;
    overflow: auto;
}
#calculator {
    .calculator-keyboard {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        button {
            width: 60px;
        }
        .operators {
            display: flex;
            flex-direction: column;
            button {
                background-color: #e6ffc2;
                margin-bottom: 10px;
                transition: 0.1s ease-out;
                &:hover {
                    background-color: $hoverColor;
                }
                &:active {
                    box-shadow: 4px 4px 0 black;
                    transform: translate(2px, 2px);
                    background-color: $activeColor;
                }
                &.keydown-active {
                    box-shadow: 4px 4px 0 black;
                    transform: translate(2px, 2px);
                    background-color: yellow;
                }
            }
        }
        .effacer {
            width: auto;
        }
    }
}

.multiplier {
    padding-top: 17px;
}

#add {
    padding-bottom: 3px;
}
.equal {
    background-color: #e6ffc2;
}
#little-screen {
    text-align: right;
    font-size: 18px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.BS {
    img {
        width: 35px;
    }
}
.row {
    margin-bottom: 10px;
    button {
        margin-right: 5px;
    }
}
